
#titulo{
    color: #ffbb00 ;
    background-color: rgba(247, 230, 250,0.5);
    border: 5px rgba(2, 144, 33, 0.575) groove;
    opacity: 0.5
    ;
}

p.texto{
    color: gray;
}
ul{
    color: rgb(173, 255, 47);
    border: 5px rgb(232, 155, 255) outset  ;
    border-top-right-radius: 50%;
    border-radius: 5px;
    background-color: lightcoral;
    
}
div p{
    font-size: 12px;
    color: lawngreen;
}
p.bueno{
   border: 10px gray outset;
    color:brown;
    background-image: url(greek1.jpg);
    background-size: cover;
    
    font-size: 80px;
    
    opacity: unset;
    

}

*{
    font-style: italic;
}

/*Comentarios para miiix*/